{
    admin 0.0.0.0:8020
}

{$SERVER_NAME} {
  tls {$TLS_EMAIL}
  reverse_proxy mindfulness-strapi-internal:1337
  encode gzip

  # Replace cache-control from strapi
  header /uploads/* Cache-Control "public, max-age=86400" {
    defer
  }
}
