@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .radial-gradient {
    background: #FFFFFF;
    background: radial-gradient(circle at center, #e1f1e6 5%, #B8D6C7 45%);
  }
  .image-rendering-unblur {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  .font-shadow-1 {
    /*-webkit-text-stroke: 4px #EEE;*/
    text-shadow:
            -1px -1px 0 #AAA,
            1px -1px 0 #000,
            -1px 1px 0 #AAA,
            1px 1px 0 #AAA;
  }
}


:root {
  --main-nav-full-height: 60px;
  --main-nav-reduced-height: 40px;
  --color-brand: hotpink;
}


@media only screen and (max-width: 600px) {
  :root {
    --main-nav-full-height: 60px;
    --main-nav-reduced-height: 40px;
  }
}

