name: mindfulness
services:
  mindfulness-strapi:
    container_name: mindfulness-strapi
    env_file: ./.env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
      #target: develop
    image: mindfulness-strapi:latest
    restart: unless-stopped
    hostname: mindfulness-strapi-internal
    environment:
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      NODE_ENV: ${NODE_ENV:-production}
    volumes:
      # Share the source code to allow development
      #- .:/app/
      # Share the env
      - ./.env:/app/.env
      # Share the sqlite database
      - ${DOCKER_SQLITE_HOST_DIRECTORY:-./sqlite}:/app/sqlite
      - ./data:/app/data
      # Share the image uploads database
      - ${DOCKER_UPLOAD_HOST_DIRECTORY:-./public/uploads}:/app/public/uploads

      #- strapi-vlm-uploads:/app/public/uploads
      # For install, build and development use volumes
      # to prevent platform/ownership issues between host and container
      #- mindfulness-strapi-vlm-build:/app/build
      #- mindfulness-strapi-vlm-cache:/app/.cache
      - /app/node_modules
    ports:
      - '1337:1337'
    networks:
      - cloud-net

  mindfulness-caddy:
    container_name: mindfulness-caddy
    image: caddy:2.10.2-alpine
    profiles:
      - donotstart
    depends_on:
      - mindfulness-strapi
    restart: unless-stopped
    env_file: ./.env
    environment:
      SERVER_NAME: ${CADDY_SERVER_NAME:-localhost}, caddy:80
      TLS_EMAIL: ${CADDY_TLS_EMAIL:-internal}
    ports:
      # HTTPS
      - target: 443
        published: 443
        protocol: tcp
      # HTTP/3
      - target: 443
        published: 443
        protocol: udp

    volumes:
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - mindfulness-caddy-data:/data
      - mindfulness-caddy-config:/config

    networks:
      - cloud-net

  mindfulness-postgresql:
    container_name: mindfulness-postgresql
    profiles:
      - donotstart
    platform: linux/amd64 #for platform error on Apple M1 chips
    restart: unless-stopped
    env_file: ./.env
    image: postgres:15.3-alpine3.18
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME:-strapi}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-strapi}
      POSTGRES_DB: ${DATABASE_NAME:-mindfulness-strapi}
      POSTGRES_INITDB_ARGS: '--locale-provider=icu --icu-locale=en-US'
    volumes:
      - mindfulness-strapi-vlm-postgresql-data:/var/lib/postgresql/data/
    ports:
      - '5432:5432'
    networks:
      - cloud-net
    healthcheck:
      test:
        [
          'CMD-SHELL',
          "sh -c 'pg_isready -U ${DATABASE_USERNAME:-strapi} -d ${DATABASE_NAME:-artist-strapi}'",
        ]
      interval: 2s
      timeout: 5s
      retries: 5


volumes:
  mindfulness-strapi-vlm-postgresql-data:
    labels:
      type: 'db-data'
  mindfulness-caddy-data:
    labels:
      type: 'webserver'
  mindfulness-caddy-config:
    labels:
      type: 'webserver'

networks:
  cloud-net:
    name: cloud-net
    driver: bridge
    external: true